.weather-container{
  max-width:400px;
  margin:20px auto;
  padding: 20px;
  background-color:rgb(141, 186, 224);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align:center;

}

